﻿<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Scarica gratis GARAGE Template html/css - Web Domus Italia - Web Agency </title>
    <meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/style/slider.css">
    <link rel="stylesheet" type="text/css" href="~/style/mystyle.css">
</head>
<body>
    <!-- Header -->
    
        <div class="allcontain">
            <div class="container">

                <div class="header">
                    <ul class="socialicon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <ul class="givusacall">
                        <li>Bizi Arayın: 0850 222 33 44 </li>
                    </ul>
                    <ul class="logreg">
                        <li><a href="#">Giriş </a> </li>
                        <li><a href="#"><span class="register">Kayıt</span></a></li>
                    </ul>
                </div>
            </div>
            </div>
            <!-- Navbar Up -->
    <div class="container">
        <nav class="topnavbar navbar-default topnav">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/Home/Index"><img src="~/image/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse" id="upmenu">
                <ul class="nav navbar-nav" id="navbarontop">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SATIŞ <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdowncostume">
                            <li><a href="/Home/Sinema">Sinema</a></li>
                            <li><a href="/Home/Kitap">Kitap </a></li>
                            <li><a href="/Home/Tiyatro">Tiyatro</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DUYURULAR <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdowncostume">
                            <li><a href="/Home/Sinema">Sinema</a></li>
                            <li><a href="/Home/Kitap">Kitap</a></li>
                            <li><a href="/Home/Tiyatro">Tiyatro</a></li>
                        </ul>
                    </li>


                </ul>
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Arama...">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

        </nav>
        
    </div>
        <!--_______________________________________ Carousel__________________________________ -->
        <div class="container">
            <div class="allcontain">
                <div id="carousel-up" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner " role="listbox">
                        <div class="item active">
                            <img src="~/image/bookshop.jpg" alt="1984">
                            <div class="carousel-caption">
                                <h2>Book Shop</h2>
                                <p>
                                    Kitap<br>
                                    Kitap
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/image/stieglarsson.jpg" alt="Stieg Larsson">
                            <div class="carousel-caption">
                                <h2>Stieg Larsson</h2>
                                <p>
                                    Kitap<br>
                                    Kitap
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/image/lotr.jpg" alt="LOTR">
                            <div class="carousel-caption">
                                <h2>Yüzüklerin Efendisi-İki Kule</h2>
                                <p>
                                    Yüzüklerin Efendisi-İki Kule
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @RenderBody()
        <!-- ____________________Featured Section ______________________________-->


        <script type="text/javascript" src="~/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
        <script type="text/javascript" src="~/source/js/isotope.js"></script>
        <script type="text/javascript" src="~/source/js/myscript.js"></script>
        <script type="text/javascript" src="~/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
        <script type="text/javascript" src="~/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>